@font-face {
  font-family: "Eras Demi ITC";
  src: url("/fonts/ErasITC-Demi.woff2") format("woff2"),
    url("/fonts/ErasITC-Demi.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
